h1 {
	font-family: sans-serif;
	font-size:48px;
}

// This snytax allows you to select all H1-6
// #{Headings()}{
// 	font-family: $headFont;
// 	font-size:3em;
// }

.base {
  background-color: yellow;
}

body {
	background-color:yellow;
}