.variable {
  color: #333;
}

.mixin {
  color: red;
}

.base {
  background-color: yellow;
}

.modules {
  background-color: #efefef;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.show-grid {
  background-image: -webkit-linear-gradient(top, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-image: -moz-linear-gradient(top, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-image: -o-linear-gradient(top, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}

html {
  font-size: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 3rem;
  margin-bottom: 1rem;
}

p {
  font-size: 20px;
  line-height: 2rem;
  margin-bottom: 1rem;
}
